/* 
    Document   : advisory
    Created on : 2013-4-2, 12:02:13
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
.advisory_widget{border:1px solid #ccc;border-radius: 5px;}

