/* 
    Document   : common.css
    Created on : 2013-1-30, 0:01:54
    Author     : martin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

