/*
Item Name: jQuery Carousel Evolution
Author: Mapalla
Author URI: http://codecanyon.net/user/Mapalla
Version: 1.0
*/

/* _______________________________________________ */

/* CONTAINER */
/* _______________________________________________ */
div.divcarousel .prevButton, div.divcarousel .nextButton{
	top:5px;
}
.carousel
{

	margin :0 auto;
	width :311px;
	height :auto;
	border :none;
	overflow : visible ;
}

/* _______________________________________________ */

/* SLIDES */
/* _______________________________________________ */

/* slide container */
.carousel .slides
{
	margin :0;
	padding :0;
	border :none;
	list-style :none;
	position :relative ;
	overflow :visible ;
	width:330px;
	height:180px;
}
.bullet{display:none;}
.bulletActive{display:block;}
/* slide item */
.carousel .slides .slideItem 
{
	position :absolute ;
	cursor :pointer ;
	overflow : hidden;
	padding :0;
	margin :0;
	border :none;
}

.carousel .slides .slideItem a
{
	display: block ;
	text-decoration :none;
	margin :0;
	padding :0;
	border :none;
	outline :none;
}

.carousel .slides .slideItem img
{
	margin :0;
	padding :0;
	border :0;
}

/* _______________________________________________ */

/* DIRECTION BUTTON */
/* _______________________________________________ */

.carousel .nextButton
{
	position :absolute ;
	right :3px;
	top :35px;
	width :17px;
	height: 180px;
	  background: url("/images/image/arrow.jpg") no-repeat scroll 50% center transparent;
	cursor :pointer ;
	z-index :9999;
}

.carousel .prevButton
{
	position :absolute ;
	left :2px;
	top :35px;
	width :17px;
	height: 180px;		
	background: url("/images/image/arrow_1.jpg") no-repeat scroll 50% center transparent;
	cursor :pointer ;
	z-index :9999;
}

/* _______________________________________________ */

/* NAVIGATION BUTTON */
/* _______________________________________________ */

/* buttons container */
.carousel .buttonNav
{
	position : relative ;
	margin :0 auto;
	z-index :999;
}

/* numbers */
.carousel .buttonNav .numbers 
{
	position :relative ;
	float :left ;
	margin :5px;
	color : #828282 ;
	cursor :pointer ;
	font-weight :bold ;
	text-decoration :none;
	font-size :1em;
	font-family :Arial, Verdana ;
}

.carousel .buttonNav .numbers:hover
{
	color: #000;
	text-decoration :underline;
}

.carousel .buttonNav .numberActive
{
	background : none;
	color :#000;
	cursor :default ;
}

/* bullets */
.carousel .buttonNav .bullet
{
	position :relative ;
	float :left ;
	margin :5px;
	float :left ;
	cursor :pointer ;
}

.carousel .buttonNav .bullet:hover
{
	/*background : url(images/Bullet-Black.png) no-repeat center ;*/
}

.carousel .buttonNav .bulletActive
{
	/*background : url(images/Bullet-Black.png) no-repeat center ;*/
	cursor :default ;
}

/* ____________________________________________________________ */

/* VIDEO */
/* ____________________________________________________________ */

.carousel .slides .videoOverlay
{
	background :url("images/video.png") no-repeat center; /* play button */
}

.carousel .slides .spinner
{
	background : #000 url(images/loading.gif) no-repeat center; /* video preloader */
}

/* _____________________________ *

/* SHADOW */
/* _____________________________ */

.carousel .shadow
{
	width :100%;
	height :82px;
}


/* ____________________________________________________________ */

/* REFLECTION GRADIENT */
/* ____________________________________________________________ */

/* gradient color for Opera */
.carousel .gradient
{
	background-image :url(scripts/gradient.svg);
}
.carouse2 .nextButton
{
	position :absolute ;
	right :3px;
	top :10px;
	width :17px;
	height: 180px;
	  background: url("/images/image/arrow.jpg") no-repeat scroll 50% center transparent;
	cursor :pointer ;
	z-index :9999;
}
.carouse2 .prevButton
{
	position :absolute ;
	left :2px;
	top :10px;
	width :17px;
	height: 180px;		
	background: url("/images/image/arrow_1.jpg") no-repeat scroll 50% center transparent;
	cursor :pointer ;
	z-index :9999;
}